@model RegisterVM
@{
    ViewData["Title"] = "Create";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="row">
    <div class="col-md-4 mx-auto">
        <div asp-validation-summary="All">
        </div>
        <form asp-action="Create" asp-controller="User">
            <div class="mb-2">
                <label> UserName</label>
                <span asp-validation-for="Username"> </span>
                <input class="form-control" asp-for="Username" />
            </div>
            <div class="mb-2">
                <label> Email</label>
                <span asp-validation-for="Email"> </span>
                <input type="email" class="form-control" asp-for="Email" />
            </div>
            <div class="mb-2">
                <label> Şifre</label>
                <span asp-validation-for="Password"> </span>
                <input type="password" class="form-control" asp-for="Password" />
            </div>
            <div class="mb-2">
                <label> ConfirmPassword</label>
                <span asp-validation-for="ConfirmPassword"> </span>
                <input type="password" class="form-control" asp-for="ConfirmPassword" />
            </div>
            <button type="submit" class="btn btn-primary">Kullanıcı Oluştur</button>

        </form>
    </div>

</div>

